* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*== Exercício 06 ==*/
#ex_6 {
  font-family: Arial, Helvetica, sans-serifZ;
  width: 500px;
  padding: 15px;
  margin: 20px 20px;
  background-color: rgb(90, 156, 255);
  border-radius: 30px;
  box-shadow: 3px 3px 8px rgba(0 , 0 , 0 , 0.5);
  text-align: center;
  color: antiquewhite;
  font-weight: 600;
}

#cboPieces {
  margin-top: 25px;
  width: 90px;
  height: 25px;
  border-radius: 20px;
  border-style: none;
  box-shadow: 1px 1px 4px rgba(0 , 0 , 0 , 0.7);
}

#infoText {
  margin-top: 25px;
}

#outText {
  width: 450px;
  background-color: rgb(111, 174, 255);
  border-radius: 30px;
  border: solid 2px antiquewhite;
  border-radius: 20px;
  padding: 10px;
  margin: 10px auto;
}
/*===================================================*/

/*== Exercício 10 ==*/
#ex_10 {
  width: 500px;
  padding: 15px;
  margin: 20px 20px;
  background-color: rgb(90, 156, 255);
  border-radius: 30px;
  box-shadow: 3px 3px 8px rgba(0 , 0 , 0 , 0.5);
  text-align: center;
  color: antiquewhite;
  font-weight: 600;
}

h4 {
  margin: 20px 0 10px 0;
}

.aplyMargin {
  margin-bottom: 10px;
}

#btnCalc {
  width: 70px;
  height: 20px;
  margin-top: 10px;
  box-shadow: 1px 1px 6px rgba(0 , 0 , 0 , 0.3);
  border-radius: 20px;
}

#outProfit {
  width: 450px;
  background-color: rgb(111, 174, 255);
  border: solid 2px antiquewhite;
  border-radius: 20px;
  padding: 10px;
  margin: 10px auto;
}
/*===================================================*/