body {
  font-size: 16px;
}

h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-decoration: overline underline;
}

p {
  font-weight: 600;
  font-size: 3em;
  font-style: italic;
  text-align: center;
}

ul {
  background-color: gray;
  line-height: 2em;        
}

.change-background {
  background-color: gray;
}