* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 2px solid #ffbb62;
  border-bottom: 2px solid #ffbb62;  
}

#menu {
  text-align: center;
  padding: 10px;
}

#menu li {
  display: inline-block;
}

#menu li+li{
  margin-left: 20px;
}
