* {
  margin: 0;
  padding: 0;
  }

  :root {
    --lt-bg-color: rgb(245, 245, 245);
    --lt-title-color: rgb(33, 33, 33);
    --lt-main-color: rgb(255, 248, 243);
    --lt-text-color: rgb(33, 33, 33);
  }

  body {
  background-color: var(--lt-bg-color);
  text-align: center;
  }

  .menu {
    margin: 3vh 0 1vh 0;
  }

  .btn-dark {
    margin-right: 20px;
  }

  .btn-dark, .in-font-size, .in-line-height, .slc-font {
    width: 80px;
    text-align: center;
    margin-left: 20px;
  }

  #title {
  margin-top: 5vh;
  font-family: 'Times New Roman', Times, serif;
  }

  #main {
  width: 70vw;
  height: 100vh;
  background-color: var(--lt-main-color);
  margin: 0 auto;
  box-shadow: 0 0 10px 2px rgba(70, 70, 70, 0.2);
  text-align: center;
  border-radius: 10px;
  }

  .text {
  padding: 3vh 3vw;
  }
